body{
position: relative;
width: 100%;
height: 100%;
-webkit-user-select: none;
overflow: hidden;
background: #8F9BA8;
background: #fff;
}
img.helper-resize-ratio{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
#pageA169{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
/*
box-shadow: 0 0 10px rgba(0,0,0,0.5);
*/
}


.title-quastion{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 18px;
    box-shadow: 0px 3px 5px rgb(0 0 0 / 40%);
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 15px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 16px;
    box-shadow: 0px 3px 5px rgb(0 0 0 / 40%);
    padding: 7px 12px;
    border-radius: 10px;
    margin-top: 15px;
    display: inline-block;
    margin-left: 15px;
    line-height: 33px;
}











#btn-reset{
width:4%;
height:6%;
background: #eee url('../icons/btn-reset.png') no-repeat;
background-size: 55%;
background-position: 50%;
border-radius:50%;
cursor: pointer;
}
#btn-reset:active{
background-color: #ddd;
}


.progreG{
width:80%;
height:10%;
border:2px solid gray;
}
.progress-elem{
height: 100%;
background:orange;
}


#finsh-line{
width:30px;
height: 90%;
background: url('../images/Checkered_Racing_Flag.jpg');
background-size: 240%;
}
#car1 , .car1{
width:52px;
height: 42px;
background: url('../images/blue-car.png') no-repeat;
background-size: 100%;
background-position: 50%;
}
#car2 , .car2{
width:52px;
height: 42px;
background: url('../images/orange-car.png') no-repeat;
background-size: 100%;
background-position: 50%;
}


#keyass{
width:80%;
height:25%;
border:2px solid #333333;
background: #909090;
}
.wrap-w-sep-str{
width:80%;
height: 6px;
background: white;
}





#modal-winner{
z-index: 3000;
width:700px;
height: 344px;
background: #eee;
}



.overly-result{
width: 100%;
height: 100%;
}
.overly-result.win{
z-index: 100;
background: green;
}
.overly-result.lose{
background: red;
z-index: 100;

}

.wrap-ans-btn{
width:435px;
border-radius: 5px;
white-space: nowrap;
}
.ans-btn:active {

}
.ans-btn{
width: 40px;
height: 30px;
/**/
border-radius: 2px;
margin: 0;
float: left;
margin-right: 5px;
cursor: pointer;
background: linear-gradient(#6ea5fb, #1b5cbf);
background: #0066ff;
border:1px solid #2f62b1;
border: 1px solid #333;
box-shadow: 0px 0px 5px black;
color: black;
border-radius: 4px;
text-align: center;
text-indent: 0px;
}
#go2 .ans-btn{
z-index: 1000;
border: 1px solid orange;
background: orange;
box-shadow: 0 0 5px black;
}

.ans-btn:after{
content: attr(data-letter);
width: 40px;
height: 30px;
line-height: 30px;
display: block;
text-align: center;
font-size: 18px;
font-weight: bold;
}
.drop-anser .ans-btn{
margin: 0;
padding: 0;
border: 0;
background: transparent;
}
.content-q{
width:180px;
height:40px;
background: #545454;
background: #2d2d2d;
text-align: center;
line-height: 40px;
color:#fff;
border:1px solid #3464ac;
border-radius: 2px;
text-align: left;
text-indent: 40px;
}
.q-op{
font-size: 18px;
font-weight: bold;
}
.wrap-question{
width:280px;
height:120px;
background:#9ed0e3;
border:1px solid #488095;
}
.label-number-page {
z-index: 1000;
width: 30px;
height: 30px;
background: linear-gradient(#fff, #adadad);
border: 1px solid #333;
font-size: 20px;
border-radius: 50%;
text-shadow: 0 2px 0 #fff;
color: black;
text-align: center;
display: block;
float: left;
margin-right: 5px;
}
.label-number-page:after{
content: attr(data-number);
width: 30px;
height: 30px;
line-height: 30px;
display: block;
}

.drop-anser{
position: absolute;
top:4px;
left:118px;
width: 40px;
height: 30px;
border: 1px dashed orange;
border-radius: 4px;
background: #FFE0CC url(../icons/bkgdrop.png);
background: #FFE0CC;
background-size: 100%;
background-position: 50%;
background-repeat: no-repeat;
}
.read-mot{
cursor: pointer;
}
.read-question{
	cursor: pointer;
}
.reload-question{
cursor: pointer;	
}
.btn-go-mode{
position: absolute;
bottom: 1%;
right: 1%;
width: 15%;
height: 8%;
background: gold;
text-align: center;
border-radius: 52px;
font-weight: bold;
cursor: pointer;
 box-shadow: 0px 3px 10px rgb(0 0 0 / 63%);
}

.btn-go-mode:active{
opacity: 0.8;
}


.arrow{
background: ;
width: 36px;
height: 36px;
position: absolute;
top:10%;
left: 30%;
opacity: 1;
cursor: pointer;
}
.dot{
 background: ;
width: 36px;
height: 36px;
position: absolute;
top:10%;
left: 30%;   
}

.line1{
  position:absolute;
  width:1px;
  background-color:red;
}  
.drop-zone{
    z-index: -1;
}
.drop-zone.active{
box-shadow:0 0 10px blue;
}







