body{
position: relative;
width: 100%;
height: 100%;
-webkit-user-select: none;
overflow: hidden;
background: #8F9BA8;
background: #fff;
}
.content-activite{
width:90%;
height: 100%;
max-width: 600px;
background: ; 
margin: auto
}
.title-question {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
     box-shadow: 0px 3px 5px rgb(0 0 0 / 40%);
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 15px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 22px;
    box-shadow: 0px 3px 5px rgb(0 0 0 / 40%);
    padding: 7px 12px;
    border-radius: 10px;
    margin-top: 15px;
    display: inline-block;
    margin-left: 15px;
    line-height: 33px;
}
.read-question , .reload-question{
cursor: pointer;
}

#textcontent {
margin: 10px 12px;
font-size: 150%;
line-height: 180%;
font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.notdone{
color: #666;
}
#textcontent span{
padding: 0 8px;
}

.btn-go-mode {
position: absolute;
bottom: 10px;
right: 10px;
width: 168px;
height: 42px;
background: gold;
text-align: center;
border-radius: 52px;
font-weight: bold;
cursor: pointer;
box-shadow: 0px 3px 10px rgb(0 0 0 / 63%);
}