body{
background: #f9f9f9;
/*
touch-action: none;

*/
}
header {
height: 60px;
width: 100%;
background: white;
position: absolute;
top: 0;
left: 0;
z-index: 9999999;
box-shadow: rgb(0 0 0 / 6%) 0px 18px 18px 0px;
box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
user-select: none;

}
.title-doc{
width: 100%;
position: absolute;
top: 0;
left:0;
text-align: center;
}
.title-doc{
font-family: sans-serif ,'Comic Sans MS', 'Comic Sans', cursive;
font-size: 22px;
line-height: 60px;
font-weight: bold;
color: #e07307;
}
.doc-nav-btns{
width: 240px;
background: ;
position: absolute;
top: 0;
right: -35px;
text-align: center;

}
header{
}
header .btn {
display: inline-block;
width: 60px;
height: 60px;
height: 53px;
cursor: pointer;
}
header .btn:active {
background: white;
}
.doc-page-number{
line-height: 60px;
color: red;
font-size: 18px;
font-weight: bold;
color: black;
font-family: sans-serif , 'Comic Sans MS', 'Comic Sans', cursive;

}
.kv-content{
width: 600px;
margin: 0px auto; 
}
.box-act{
padding: 20px;
box-shadow: rgb(0 0 0 / 6%) 0px 18px 18px 0px;
background-color: rgb(255, 255, 255);
border-radius: 9px;
counter-reset: notes-counter 0;
position: relative;
color: rgb(0, 0, 0);   
min-height: 100px;
border-top: 5px solid #228888;
}
.title-q {
font-family: sans-serif , "Comic Sans MS", "Comic Sans", cursive;
font-size: 20px;
box-shadow: 0px 3px 5px rgb(0 0 0 / 40%);
padding: 7px 12px;
border-radius: 10px;
margin-top: 15px;
margin-top: 0px;
display: inline-block;
 line-height: 33px;
font-weight: ;
color: #000;
}

.c-audio-player {
 position: relative;
width: 300px;
height: 50px;
background: ;
border-radius: 20px;
border: 2px solid black;
zoom: 0.9;
}
.parent-img-exercice{
background:  ;
position: relative;
}

.p1-audio {
    background-color: gold;
    cursor: pointer;
    margin: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    transition: box-shadow .3s, background-color .3s;
}
.p1-text{
    font-size: 20px;
}
.cap-play{
cursor: pointer;
}

audio::-webkit-media-controls-panel {
background-color: gold;
 }

audio::-webkit-media-controls-play-button{
    background: ;
}
.drag-help-arrw{
cursor: pointer;
}

.notification{
margin:30px 0 ;
padding: 20px;

border-radius: 10px;
font-family:  sans-serif;
font-size: 18px;
}
.notification.allfail{
background-color: #feecf0;
color: #cc0f35;    
}
.notification.fail{
background-color: #feecf0;
color: #cc0f35;    
}

.notification.somefail{
background-color: #fffaeb;
color: #946c00;
}
.notification.success{
background-color: #effaf5;
color: #257953;
}

.btn-go-mode {
position: relative;
width: 150px;
height: 56px;
line-height: 30px;
background: gold;
text-align: center;
border-radius: 52px;
font-weight: bold;
cursor: pointer;
box-shadow: 0px 3px 10px rgb(0 0 0 / 63%);

}
.btn-go-mode svg{
position: absolute;
top: 17px;
left: 18px;
}
.page-controls{
width: 100%;
text-align: right;
}
.btn-go-mode{
display: inline-block;
}
.p3 .element-to-drag{
font-size: 16px;
font-family: sans-serif;
background: white;
user-select: none;


}
.p3 .notification {
    margin: 00px 0;
}
.p4 .notification {
    margin: 00px 0;
}

table {
    font-family: sans-serif ,'Comic Sans MS', 'Comic Sans', cursive;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    margin-left: 0%;
}
table tr {
    background: #f8f8f8;
    border: 1px solid #999;
    padding: 0.35em;
}
table th, table td {
    padding: 0.625em;
    text-align: center;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}
.pr-bar {
    color: #000!important;
    background-color: #cbcbcb!important;
}

.pr-bar-c {
    color: #000;
    background-color: #6826ef;
}




.audio-cours{
    position: absolute;
    top: 49px;
    left: 245px;
    background: ;
    border-radius: 60px;
    border: 2px solid black;
    zoom: .8;
}

 
 
.msmall{
display: none;
}

.stage_draw_svg{
    transform: scale(0.9);
} 
.p2 .box-act{
height: 480px;
}

.p3dud{
margin-top:-60px;
width: 846px;
height: 390px;
position: relative;
margin-left: -39px;
}
.p2 .notification {
    
    margin-top: -35px;
}
.p3 .notification {
    
    margin-top: -40px;
}


@media only screen and (max-width: 570px) {
.p4 img{
position: relative!important; 
top:0!important;
left: 0!important;
width: 155px;
height: auto;
border-radius: 20px;
display: block;
margin-top: 15px;
margin-top: 15px;

}
.label-checkbox{
position: relative !important;
margin-top: 10px;
margin-top: 10px;
top: 0!important;
left: 0 !important;
}
.p2 .notification {
    
    margin-top: -173px;
}


.p3dud{
    margin-top: -50px;
    width: 846px;
    height: 390px;
    position: relative;
    margin-left: -200px;
    transform: scale(0.7);
}

.title-q{
font-size: 16px;
}


  .title-doc {
    display: none;
  }
}

@media only screen and (max-width: 570px) {
    .p2 .box-act{
height: 344px;
}


html{
overflow-x:hidden; 
}
.stage_draw_svg{
    transform: scale(.55);
} 
.mbig{
display: none;
}
 
.msmall{
display: block;
}
.kv-content {
    width: 350px;
    margin: 0px auto;
}

.audio-cours{
        /*position: absolute;
    top: 68px;
    left: 245px;*/
    position: relative !important;
    top: 0px;
    left: 0px;
    background: ;
    border-radius: 60px;
    border: 2px solid black;
    zoom: .8;
    margin-bottom: 40px;
}


.p1-text {
    font-size: 14px;
}

.title-doc,.title-q, .doc-page-number{
font-family: sans-serif;
}
.title-doc{
display: none;
}
 .doc-nav-btns {
    width: 80%;
}
 

}



.page{
display: none;
}
.page.active{
display: block;
}

.p3{

touch-action: none;

}

.btn-rest{
background: #c9c9c9;
background: #fff;
border-radius: 50%;

    box-shadow: 0px 3px 10px rgb(0 0 0 / 63%);

}

.btn-rest:active{
background: #c9c9c9;
}
html,
body {
    overscroll-behavior-y: contain;
}