html,body{
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
position: relative;
font-family:Tahoma;
font-size: 12px;
width:100%;
height:100%;
background: #8F9BA8;
overflow:hidden;
}


/************************************/
/***************/
#top-header{
position: fixed;
top:0;
z-index:99999999999;
height: 50px;
width: 100%;
text-align: center;
background: #0a6984;
box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
}


#btn-prev{
display: inline-block;
width: 45px;
height: 47px;
background: url(../icons/chevron-left.png) no-repeat;
background-size: 45%;
background-position: 50%;
cursor: pointer;
margin-top: 2px;
}
#btn-prev:active{
background-color:#3991F5;
}

#btn-next{
display: inline-block;
width: 45px;
height: 47px;
background: url(../icons/chevron-right.png) no-repeat;
background-size: 45%;
background-position: 50%;
cursor: pointer;
margin-top: px;
}
#btn-next:active{
background-color:#3991F5;
}

#label-page{
display: inline-block;
font-size: 12px;
font-family: 'Open Sans','Helvetica Neue', Arial, sans-serif;
color: white;
overflow: hidden;
line-height: 44px;
vertical-align: baseline;
}



#player{
z-index: 10;
width: 6%;
height: 6%;
border-radius: 50%;
box-shadow: 0px 4px 4px;
}

#player.play{

background: white url('../icons/play.png');
background-size: 100%;
background-position: 50%;
}
#player.pause{
background: white url('../icons/pause.png');
background-size: 100%;
background-position: 50%;
}



.btn-audio{
width:6%;
height:6%;
background:#fcc125;
border-radius:50%;
background:#fcc125 url(../icons/playB.png);
background-size: 60%;
background-position: 50%;
background-repeat: no-repeat;
}
.btn-audio.active{
width:6%;
height:6%;
border-radius:50%;
background-color:green;
}
.btn-audio:hover{
opacity: 0.8;
cursor:pointer;
}


.wh {
position: absolute;
color: red;
/*background: rgba(255, 255, 0, 0.6);*/

}
.wh.selected {
color: blue;
cursor: pointer;
background: rgba(255, 255, 0, 0.6);
}

.wh:hover {
border:2px solid rgba(0,0,0,0.3);
cursor:pointer;
}
.audio-Playing .wh:hover {
border:2px solid rgba(0,0,0,0.0);
cursor:default;
}





.contenu_page {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    position: relative;
}








.OuterWrapBkCt{
margin-top:25px;	
width:100%;
overflow: hidden;
}
.bookcontainer{
margin:0px auto;
position: relative;/*
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;*/
width:922px;
width:864px;
width:964px;
height: 600px;
background: :red;
}

.shadowPairpage{
z-index: 100;
position: absolute;
top: 0;
right: 0;
width: 80px;
height: 100%;
right: 0;
box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.05), inset -30px 0 40px -20px rgba(0, 0, 0, 0.2);
}
.shadowImPairpage{
position: absolute;
top: 0;
left: 0;
z-index: 100;
width: 80px;
height: 100%;
box-shadow: inset 30px 0 40px -20px rgba(0, 0, 0, 0.2);
}

.flipbook .shadow{
    -webkit-transition: -webkit-box-shadow 0.5s;
    -moz-transition: -moz-box-shadow 0.5s;
    -o-transition: -webkit-box-shadow 0.5s;
    -ms-transition: -ms-box-shadow 0.5s;

    -webkit-box-shadow:0 0 20px #000000;
    -moz-box-shadow:0 0 20px #000000;
    -o-box-shadow:0 0 20px #000000;
    -ms-box-shadow:0 0 20px #000000;
    box-shadow:0 0 20px rgba(0,0,0,0.5);
    /*box-shadow: 0 4px 10px #000;*/
}


.pageBkg{
width:100%;
height:100%;
position:relative;
}
.odd .pageBkg{
background:white;
}
.even .pageBkg{
background:orange;

}
.odd .SepShadow{

position: absolute;
top: 0;
left: 0;
z-index: 100;
width: 80px;
height: 100%;
box-shadow: inset 30px 0 40px -20px rgba(0, 0, 0, 0.2);

}
.even .SepShadow{
z-index: 0;
position: absolute;
top: 0;
right: 0;
width: 80px;
height: 100%;
right: 0;
box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.05), inset -30px 0 40px -20px rgba(0, 0, 0, 0.2);  
}


a span{
color:#222;
}
.cover{
background-size: 100%;
background-repeat: no-repeat;

}

